GOD_Console_Prototype_1/dtd/attributespec.dtd

<?xml version='1.0' encoding='ASCII'?>

<!ELEMENT spec ((attribute|extension-attribute|child)+)>
<!ATTLIST spec 
	name			CDATA	#REQUIRED
	spec-extension	CDATA	#IMPLIED
	type			CDATA	#REQUIRED 
>

<!ELEMENT attribute EMPTY>
<!ATTLIST attribute
	id	CDATA	#REQUIRED
>

<!ELEMENT extension-attribute EMPTY>
<!ATTLIST extension-attribute
	id		CDATA	#REQUIRED
	action	CDATA	#REQUIRED
>

<!ELEMENT child EMPTY>
<!ATTLIST child
	id	CDATA	#REQUIRED>